/*
  Every element's style rule
  begins with an article 'The'.
*/

/* The general settings */
@font-face {
  font-family: Inter;
  src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
:root {
  font-size: 14px;
  font-family: Inter;
  --green: hsl(75, 94%, 57%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
  background-color: var(--off-black);
}
*,
*::before,
*::after {box-sizing: border-box;}
body {margin: 0;}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The profile card & local general styles */

.profile {
  width: 26em;
  padding: 2.5em;
  text-align: center;
  background-color: var(--dark-grey);
  color: white;
  border-radius: 1rem;
}
address, .living-address {
  font-style: normal;
  font-weight: 600;
}

/* Profile card. The header */

.profile img {
  max-width: 6em;
  border-radius: 50%;
}
.profile h1 {
  font-size: 1.6em;
  margin: 1em 0 .6em;
  font-weight: 700;
}
.living-address {color: var(--green);}

/* Profile card. The main content & address */

.profile p:has(span:only-child) {margin: 2em 1em;}
.profile > address {
  display: flex;
  flex-flow: column wrap;
  gap: 1.2em;
}
.profile address a {
  transition:
    .5s background-color,
    .5s color;
  background-color: var(--grey);
  padding: 1rem;
  color: unset;
  text-decoration: none;
  border-radius: .5em;
}
.profile address a:is(:hover, :focus) {
  background-color: var(--green);
  color: var(--off-black);
}

@media screen and (max-width: 767px) {
  .profile {
    width: 90%;
    max-width: 24em;
    padding: 1.5em;
  }
}