/*
  Every element's style rule
  begins with an article 'The'.
*/

/* The general settings */
@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*,
*::before,
*::after {box-sizing: border-box;}

:root {
  font-size: 14px;
  font-family: Inter;
  --green: hsl(75, 94%, 57%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
  background-color: var(--off-black);
}

body {margin: 0;}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The profile card & local general styles */

.profile {
  width: 26rem;
  padding: 2.5rem;
  text-align: center;
  background-color: var(--dark-grey);
  color: white;
  border-radius: 1rem;
}

ul, p {line-height: 140%;}

/* Profile card. The header */

.profile img {
  max-width: 6rem;
  border-radius: 50%;
}

.profile h1 {
  font-size: 1.6rem;
  margin: 1.2em 0 .5em;
  font-weight: 700;
}

.living-address {
  color: var(--green);
  font-weight: 600;
}

/* Profile card. The main content */

.about-me {margin: 1.8rem 1rem;}

.socials {
  display: flex;
  flex-flow: column wrap;
  gap: 1.2rem;
  list-style: none;
}
.socials li {
  background-color: var(--grey);
  border-radius: .5rem;
}
.socials a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  width: 100%;
  transition:
    .5s background-color,
    .5s color;
  padding: 1rem;
  border-radius: inherit;
}
.socials a:is(:hover, :focus) {
  background-color: var(--green);
  color: var(--off-black);
}

@media screen and (max-width: 767px) {
  .profile {
    max-width: 24rem;
    padding: 1.5rem;
    margin: 1rem;
  }
}